.top-container {
  background-color: #1A1A40;
  position: relative;
  padding-top: 100px;
}
h1 {
  margin-top: 50px;
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 5.625rem;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2.5rem;
}

.avatar{
    margin-top: 50px;
}

h2 {
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.middle-container {
background-color: #472a8b;
width: auto;

}

.bottom-container {
background-color: #7A0BC0;
}
.pro {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.skills{
    color: black;
    background-color:white;
    padding-bottom: 50px;
    padding-top: 50px;
}
.skills-heading{
    color: #472a8b;
    font-size: 3rem;
}
.skills-subheading{
    color: black;
}
.profile{
    padding-bottom: 50px;
}